<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome | Wish List | Home</title>
        <meta name="description" content="Login to Wishlist">
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <form action="{% url 'login_logout' %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-default" type="submit" value="Logout">
                        </form>
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-18 col-md-12"><h1>Wishlist</h1></div>
            </div>
            <h3>Hello, {{ loggedin.name }}!</h3>
            <h4>Your Wish List</h4>
            <table class="table table-hover">
                <tr>
                    <th>Item</th>
                    <th>Added by</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
                {% for wish in loggedin.wishmaker.all %}
                <tr>
                    <td><a href="{% url 'wishlist_show' id=wish.id%}">{{ wish.item }}</a></td>
                    <td>{{ wish.wishmaker_id.name }}</td>
                    <td>{{ wish.created_at }}</td>
                    <td><form action="{% url 'wishlist_remove' id=wish.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-default" type="submit" value ="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                {% for wish in loggedin.wishcopier.all  %}
                <tr>
                    <td><a href="{% url 'wishlist_show' id=wish.id%}">{{ wish.item }} <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a></td>
                    <td>{{ wish.wishmaker_id.name }}</td>
                    <td>{{ wish.created_at }}</td>
                    <td><form action="{% url 'wishlist_unwish' id=wish.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="wishcopier" value="{{ loggedin.id }}">
                        <input class="btn btn-default" type="submit" value ="Remove from my wishlist">
                        </form></td>
                </tr>
                {% endfor %}
            </table>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <form action="{% url 'wishlist_create' %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default" type="submit" value="Add Item">
                    </form>
                </div>
            </div>

            <h4>Other Users' Wishlist <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
            <table class="table table-hover">
                <tr>
                    <th>Item</th>
                    <th>Added by</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
                {% for wish in unwishes %}
                <tr>
                    <td><a href="{% url 'wishlist_show' id=wish.id%}">{{ wish.item }}</td>
                    <td>{{ wish.wishmaker_id.name }}</td>
                    <td>{{ wish.created_at }}</td>
                    <td><form action="{% url 'wishlist_join' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="item" value="{{ wish.id}}">
                    <input type="hidden" name="wishcopier" value="{{ loggedin.id }}">
                    <input class="btn btn-default" type="submit" value="Add to Wishlist">
                    </form></td>
                </tr>
                {% endfor %}
            </table>

    </body>
</html>
